.nav-link-decoration {
  text-decoration: none;
  color: #bec8b2;

  &:hover {
    color: #8e938a;
  }
}

.nav-logo-decoration {
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #bec8b2;
  }
}

.navbar-text {
  width: 200px;
}